/* For small screens - tablet and smaller */

@media(max-width: 768px) {
    
    .navtexttop{
        display: none;
    }

    .content {
        height: 100vh;
        grid-template-rows: 100vh repeat(4,auto) 1fr 200px;
        grid-template-areas: 
        "hd"
        "main"
        "main"
        "main"
        "main"
        "sd"
        "ft";
    }


    .bloglistings{
        text-align: center;
    }

    .postlink{
        padding: 5%;
    }

    .sidebar{
        padding: 5%;
    }
}