/* To import the other css stylesheets*/
@import "./small-screens-style.css";
@import "./larger-screens.css";

body{
	background-color: #000008;
	margin: 0px;
	color: #f9f9fa;
	letter-spacing: .2em;
	font-family: "open-sans";
	font-size: 16px;
	line-height: 1.75em;
	font-weight: 100;
}

h1 {
	text-transform: uppercase;
	letter-spacing: .6em;
	font-weight: 100;
}

h2{
	text-transform: uppercase;
	font-size: 14px;
}

.navtextbottom{
	text-transform: uppercase;
	margin: 5%;
	font-size: 14px;
}

a{
	color: #f0f0fa;
	text-decoration: none;

}

a:hover{
	color: #cccccc;
}

.content{
	display: grid;
	border: solid 2px yellow;
}

.header {
	display: flex;
	margin: 0px;
	color: #f9f9fa;
	background-image: url("../images/ballet-portraits.jpg");
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	grid-area: hd;
	border: solid 2px hotpink;
}

.headerbox{
	margin: auto;
	border: solid 2px turquoise;
}

.sidebar{
	display: flex;
	flex-direction: column;
	text-align: center;
	grid-area: sd;
	border: solid 2px snow;
}

.bloglistings{
	grid-area: main;
	text-align: center;
	border: solid 2px blue;
}

img.social{
	width: 25px;
	height: 25px;
}
button{
	background-color: #000008;
	color: #f9f9fa;
}
	
.footer {
	grid-area: ft;
	margin: auto;
	text-align: center;
	padding: 2%;
	border-top: 1px solid #444;
	border: solid 2px fuchsia;
}

#one{
	border: solid 2px orange;
}

#two{
	border: solid 2px green;
}

#three{
	border: solid 2px darkgreen;
}

#four{
	border: solid 2px tan;
}
