<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Sample Blog</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
	<div class="content">
		<div class="navtexttop">
			<div><a href="#" id="linkone"><h3>home</h3></a></div>
			<div><a href="#" id="linktwo"><h3>about</h3></a></div>
			<div><a href="#" id="linkthree"><h3>portfolio</h3></a></div>
			<div><a href="#" id="linkfour"><h3>blog</h3></a></div>
		</div>
		<div class="header">
			<div class="headerbox">
				<h1>simplicity</h1>
			</div>
		</div>
			<div class="sidebar">
				<h2>About</h2>
				<p><img src="../images/about-the-artist.jpg" alt="about the artisti" id="artistimg"></p>
				<div class="abouttext"><p>Jody grew up in a small town in rural Illinois. Nothing was special about the town, and nothing is special about her. </p>
					<p>
						<a href="https://twitter.com" target="blank"><img src="../images/twitter.jpg" class="social" alt="Twitter"></a>
						<a href="https://facebook.com" target="blank"><img src="../images/fb.jpg" class="social" alt="Facebook"></a>
						<a href="https://linkedin.com" target="blank"><img src="../images/linkedin.jpg" class="social" alt="LinkedIn"></a>
					</p>
				</div>
			</div>
		<div class="bloglistings">
			<article id="one" class="postlink">
				<img src="../images/ballet images 01.jpg" alt="black and white ballet dancer"/>
				<h3>J. D. Salinger</h3>
				<p>She wasn't doing a thing that I could see, except standing there leaning on the balcony railing, holding the universe together.</p>
				<button class="readmorebutton" type="button" ><a href="Sample-Post-One.html">Read More</a></button>
			</article>
			<article id="two" class="postlink">
				<img src="../images/ballet images 04.jpg" alt="young girl dressed in ballet outfit"/>
				<h3>Sylvia Plath</h3>
				<p>I took a deep breath and listened to the old brag of my heart; I am, I am, I am <em>Read More</em></p>
			</article>
			<article id="three" class="postlink">
				<img src="../images/ballet-image-2.jpg" alt="black and white picture of a young female ballerina"/>
				<h3>Khaled Hosseini</h3>
				<p>Beauty is an enormous, unmerited gift given randomly, stupidly. <em>Read More</em></p>
			</arcticle>
			<article id="four" class="postlink">
				<img src="../images/ballet images 01-2.jpg" alt="black and white picture of a young female ballet dancer"/>
				<h3>Jonathan Safran Foer</h3>
				<p>Sometimes I can feel my bones straining under the weight of all the lives I'm not living. <em>Read More</em></p>
			</article>
		</div>
		<div class="footer">
			<div class="navtextbottom">
				<p class="active">Home</p>
				<p>about</p>
				<p>portfolio</p>
				<p>blog</p>
			</div>
		</div>
	</div>
</body>
</html>
