<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Sample Blog</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css"/>
</head>

<body>
	<div class="container">
		<div class="navbar">
			<div id="linkone" class="navlink"><a href="../views/index.html"><h3>home</h3></a></div>
			<div id="linktwo" class="navlink"><h3>about</h3></div>
			<div id="linkthree" class="navlink"><h3>portfolio</h3></div>
			<div id="linkfour" class="navlink"><h3>blog</h3></div>
		</div>	
		<div class="header"><h1>simplicity</h1></div>
		<div class="content">
		<div class="sidebar">
			<h2>About</h2>
			<p><img src="../images/about-the-artist.jpg" alt="about the artisti"></p>
			<p>Jody grew up in a small town in rural Illinois. Nothing was special about the town, and nothing is special about her. </p>
			<p><a href="https://twitter.com" target="blank"><img src="../images/twitter.jpg" class="social" alt="Twitter"></a>
				<a href="https://facebook.com" target="blank"><img src="../images/fb.jpg" class="social" alt="Facebook"></a>
				<a href="https://linkedin.com" target="blank"><img src="../images/linkedin.jpg" class="social" alt="LinkedIn"></a>
			</p>
		</div>
				<div class="blogpost">
				<article id="postone">
					<h2>We went swiftly into the night</h2><img src="../images/ballet images 01.jpg" alt="black and white ballet dancer">
					<h3>J. D. Salinger</h3>
					<p>She wasn't doing a thing that I could see, except standing there leaning on the balcony railing, holding the universe together.</p>
					<p>There was a fish and that fish said, "Boo." I couldn't believe it!</p>
					<p>You wouldn't believe it either if I hadn't told you.</p>
				</article>
				
			</div>
		</div>
		<footer>
			<ul>
				<li class="footernavlink"><a href="index.html">home</a></li>
				<li class="footernavlink">about</li>
				<li class="footernavlink">portfolio</li>
				<li class="navlink">blog</li>
				</ul>
		</footer>
</body>
</html>
